.center-content {
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height to center vertically */
  }
  
  .scrollable-container {
    overflow-x: auto;
    width: 100%;
    justify-content: center; 
  }
  
  .scrollable-inner {
    display: flex;
    width: max-content;
    justify-content: center; 

    
   
  }
  
  .scrollable-ion-col {
    min-width: 80px;
  }



  .scrollable-container1 {
    overflow-x: auto; /* Omogućava horizontalno skrolovanje */
  }
  
  .scrollable-inner1 {
    min-width: 700px; /* Minimalna širina unutrašnjeg dela, podesite prema potrebi */
  }
  
  .ion-col1 {
    white-space: nowrap; /* Sprečava prelamanje teksta u kolonama */
  }

  
  /* Adjust button size */
  .small-button {
    font-size: 14px; /* Smaller font size for the button */
    --background: #6200ea; /* Use Ionic CSS variables for theming */
    --background-activated: #7b1fa2; /* Darker purple on activation/hover */
    --background-focused: #7b1fa2;
    --color: #ffffff;
     
  }
  
  .small-button1 {
    
    --background: #6200ea; /* Use Ionic CSS variables for theming */
    --background-activated: #7b1fa2; /* Darker purple on activation/hover */
    --background-focused: #7b1fa2;
    --color: #ffffff;
     
  }

  @media (min-width: 1024px) {
    .scrollable-container {
      display: flex;
      overflow-x: hidden;
      width: 100%; /* Disable horizontal scrolling on larger screens */
    }
  
    .scrollable-inner {
      width: 100%;
      width: max-content; /* Full width on larger screens */
    }
  
 
    .page-content {
      padding: 16px; /* Dodaje padding oko sadržaja */
    }
    
    .select-input {
      --padding-start: 8px; /* Dodaje unutrašnji padding za select komponente */
      --padding-end: 8px;
      margin-bottom: 16px; /* Razmak između select komponenata */
    }
    
    .radio-group {
      margin-bottom: 16px; /* Razmak nakon radio grupa */
    }
    
    .match-button {
      font-size: 1.2em; /* Veća veličina teksta za dugme */
      height: 50px; /* Veća visina dugmeta */
    }



    .match-button {
      font-size: 1.2em;
      height: 50px; /* Veća visina dugmeta */
      width: 100%; /* Postavlja dugme da zauzima celu širinu kolone */
    }
    
    .date-picker {
      display: flex;
      justify-content: center;
      align-items: center;
       /* Centrira kalendar */
      margin-left: 30px; /* Dodaje horizontalni padding */
    }



  }